/* ==== global styles for all responsives designes ==== */


* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #FAFAFA;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
address {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block ;
}


.no-scroll {
  overflow-y: hidden;
}
.section {
  padding: 96px 0;
  
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__contact-info {
  display: none;
}

/* ==== breakpoint for 320px ==== */





.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 0 0;
  
}
.header__logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
    line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 24px 0;
  
}
.header__logo-text {
  color: #111;
  font-style: normal;
  padding-right: 4px;
  
  
}

.3 {
  display: none;
}

.menu__social {
  display: none;

}
.menu__social-list {
  display: none;
}

.header__container-desk {
  display: none;
}

/* === mobile burger menu === */




.header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: #111;
  
}
.header__burger-icon:hover,
.header__burger-icon:focus {
    stroke:#fd9222;
    transition: stroke 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #1E1823;
  padding: 136px 36px 466px 20px; 
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  
}
.mob-menu__exit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__exit-icon {
  
  stroke: #FFF;
}
.mob-menu__exit-btn:focus .mob-menu__exit-icon,
.mob-menu__exit-btn:hover .mob-menu__exit-icon {
  stroke: #fd9222;
   transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__nav {
  margin-bottom: 168px;
  
  
}
.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}
.mob-menu__link {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 110%;
    font-weight: 500;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    text-align: left;
  
}
.mob-menu__link:hover,
.mob-menu__link:focus  {
  color: #fd9222;
}
.mob-menu__link.active {
  color: #fd9222;
}



.mob-menu__social-list {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
}
.mob-menu__social-icon {
    stroke: #ffffff;
    fill: transparent;
}
.mob-menu__social-icon:hover,
.mob-menu__social-icon:focus
 {
  stroke: #fd9222;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===first section /hero section mobile=== */


.hero__title {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    margin-bottom: 32px;
}
.be-desk-hero {
  display: none;
}
.hero__button-container {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 39px;
}
.button__hero {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 100px;
    background: #FD9222;
}
.second-button__hero {
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 12px 28px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
}

.scroll-down {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.36px;
    
}
.icon-link {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.hero-icon {
  fill: #fd9222;
}
.scroll-down__container {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* === section about us=== */


.section__about-us {
    padding: 20px 0;
    background-color: #1E1823;
    margin-bottom: 60px;
}
.about-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about__link-item {
    border: 1px solid #FFFFFF80;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.about-title {
    margin-bottom: 18px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    

}
.about-deskr {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    letter-spacing: -0.28px;
    margin-right: 28px;
    font-weight: 400;
    line-height: normal;
}

/* ===section adds tastes=== */

.section__adds-taste {
    margin-bottom: 60px;
}
.taste-title {
    color: #111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    padding: 0 26px;
    margin-bottom: 24px;
}
.span-taste {
    color: #FD9222;
}
.taste-deskr {
    color: #111;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-bottom: 32px;
}

.ingridients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.ingridients__list-item {
    position: relative;
    min-width: calc((100% - 60px) / 4);
    padding: 28px 56px;
    border-radius: 15px;
    border: 1px solid #fd9222;
    overflow: hidden;
}
.first-child {
    background: #FD9222;
    color: #FFF;
    border: none;

}
.ingridients__list-img {
   margin-bottom: 25px;
}
.ingridients__list-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: left;
}
.hidden-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    color: #111111;
    border-radius: 15px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 28px;
    
}
.ingridients__list-item:hover .hidden-container {
  transform: translateY(0%);
  
}
.hidden-tittle {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 8px;
    
}
.first {
    background-color: #fd9222;
    color: #FFF;
}
.first:hover {
  border: 1px solid #fd9222;
}
.second {
    background: #1E1823;
    color: #FFF;
    border: none;
}
.hidden-list {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
    
}
.hidden-item {
    font-size: 10px;
    line-height: 1.2;
    padding: 6px 16px;
    border: 1px solid #fd9222;
    border-radius: 35px;
}
.hidden-deskr {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.028px
}
/* === section how ist made === */

.section__how-made {
    margin: 0 auto;
    margin-bottom: 60px;
    
}
.how-made__title {
    color: #111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.how-made-colorized {
    color: #fd9222;
}
.how-made__img {
    margin: 0 auto 20px;
}
.how-made-deskr {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    text-align: left;
    margin-bottom: 20px;
}
.how-made__container {
    background-color: #fff;
    padding: 20px 14px;
    border-radius: 15px;
    
}
.how-made__list {
    display: flex;
    flex-direction: column;
    gap: 18px ;
    
}
.how-made__list-item {
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    padding-left: 16px;
}
.how-made__list-item::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4c4c4c;
    border: 1px solid #eceded;
    
}

/* === section chocolate is loved === */

.section__loved {
    margin-bottom: 60px;
}
.loved-title {
    color: #FD9222;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    margin-bottom: 34px;
}


.loved__title-span {
    color: #111;
}

.glide__slides {
  padding-top: 40px;
    
}
.glide__slide {

    height: 200px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 56px 18px 42px;
    text-align: center;
    position: relative;
}

.portfolio-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -40px;
    left: calc((100% - 81px) / 2);
}
.name-title {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    margin-bottom: 24px;
}
.text-deskr {
   color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px; 
}


.glide__bullets {
  position: relative;
  top: 20px;
  margin-bottom: 24px;
}

.glide__bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.10);
  
}
.glide__bullet--active {
  width: 24px;
  height: 13px;
  border-radius: 7px;
  flex-shrink: 0;
  background-color: #FD9222;
}

.button__pre-footer {
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
  padding: 12px 28px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #FD9222;
}



/* === footer ==== */

.footer__section {
  background: #1E1823;
  padding: 32px 0;
}
.footer__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.48px;
  margin-bottom: 32px;
  padding: 0 55px 0 0;
}
.footer__tittle-span {
  color: #FD9222;
}
.footer__address {
  color: #FFF;
  text-align: left;
  font-size: 14px;
  font-style: normal;
 
  line-height: 18px; /* 128.571% */
}
.footer__address-tittle {
  margin-bottom: 14px;
   font-weight: 500;
  
}
.footer__address-list {
  
  letter-spacing: -0.28px;
  display: flex;
  flex-direction: column;
  gap: 4px;  
  margin-bottom: 32px;
}
.address__list-item {
  position: relative;
  overflow: visible;
}
.decoration::after {
  position: absolute;
  content: '';
  max-width: 335px;
  height: 1px;
  background: rgba(255, 255, 255, 0.10);
  bottom: -32px;
  right: -20px;
  left: 0;
}

.address-item-link {
  font-weight: 400;
}
.footer-nav {
  padding-top: 32px;
}
.nav-list {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

.nav__list-item-link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
/* form footer */

.footer-form {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: start;
}

.footer-input_email {
  display: flex;
  width: 207px;
  padding: 14px 18px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.30);
  font-family: Montserrat;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;
}
.button-input-submit {
  display: flex;
  width: 120px;
  padding: 14px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #FD9222;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



/* modal overlay */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.callback__modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 321px;
  min-height: 619px;
  padding: 32px 32px 32px 24px;
  background: #FAFAFA;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 24px;
  height: 24px;
  padding: 0; 
  cursor: pointer;
  
}
.callback__close-icon {
  stroke: #111;
  
}

.callback__close-icon:hover,
.callback__close-icon:focus {
  stroke: #FD9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.callback__title {
  color: #111;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
text-transform: uppercase;
text-align: left;
margin-bottom: 32px;
}
.modal__title-span {
  color: #FD9222;
  font-weight: 600;
}
.callback__form-field {
  margin-bottom: 14px;
  
}
.callback__form-label {
  color: rgba(64, 64, 64, 0.30);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 4px;
}
.callback__form-input-wrapper {
  position: relative;
}

.callback__form-input {
  width: 263px;
  height: 44px;
  height: 44px;
  padding: 14px 14px 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  color: rgba(64, 64, 64, 0.30);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__form-input:focus {
  border: 1.5px solid var(--orange, #FD9222);
}

.callback__form-input:focus + .callback__form-input-wrapper .callback__form-input-icon,
.callback__form-input:focus  ~ .callback__form-input-icon {
  stroke: #FD9222
}

.callback__form-input-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #404040;
  fill: none;
  width: 17px;
  height: 17px;
}
.callback__form-textarea {
  width: 263px;
  height: 94px;
  padding: 14px 18px 60px 18px;
  align-items: flex-start;
  border-radius: 8px;
  background: #FAFAFA;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  color: rgba(64, 64, 64, 0.30);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.30);
  font-size: 14px;
  


}
.callback__form-textarea:focus {
  border-color: #FD9222;
}
.checkbox__form-field {
  margin-bottom: 32px;
  
}
.comment {
  margin-bottom: 18px;
}
.callback__form-checkbox-label { 
  color: rgba(64, 64, 64, 0.60);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.24px;
  text-wrap: wrap;
  
  
}


.callback__form-checkbox-icon {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(17, 17, 17, 0.14); 
  margin-right: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.callback__form-checkbox:checked + .callback__form-checkbox-label .callback__form-checkbox-icon {
  background-color: #FD9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  fill: #FAFAFA;
}
.callback__form-checkbox-icon-svg {
  fill: #FAFAFA;
}
.callback__form-privacy-link {
  color: var(--orange, #FD9222);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-decoration: underline;
  text-wrap: wrap;
  padding-left: 30px;
  
  
}
.callback__form-submit-button {
  display: block;
  margin: 0 auto;
  display: inline-flex;
  padding: 12px 28px;
  align-items: flex-start;
  border-radius: 100px;
  background: #FD9222;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.callback__form-submit-button:hover,
.callback__form-submit-button :focus {
  background-color:transparent;
  border: 1.5px solid #FD9222;
  color: #111;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.desk-br {
  display: none;
}


/* hero section adaprive images */


@media (min-width: 320px) {
  .section__hero {
    padding-top: 395px;
    padding-bottom: 27px;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url("../images/hero-mobile-min.png");
    max-width: 420px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 60px;
    margin: 0 auto;
    }
  
}

@media (min-width: 768px) {
  .section__hero {
    max-width: 900px;
    
    height: 890px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
     url("../images/hero-tablet-min.png");
  }
 
}
@media (min-width: 1200px) {
  .section__hero {
    margin: 0 auto;
    max-width: 1200px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url("../images/hero-desk-min.png");
  }
  
}


/* responsive for tablet */


@media (min-width: 768px) {

  .container {
    max-width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }
/* lock menu */
  .header__burger {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .header__wrapper {
    display: block;
  }

  .mob-menu__list {
    display: none;
  }
  .mob-menu__social-list {
    display: none;
  }

  /* header tablet */
  .header__logo {
    padding: 31px 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;

  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 14px;
  }
  .menu__social {
    display: block;

  }
  .menu__social-list {
    display: flex;
    gap: 18px;
  }
  .header__menu-link:hover,
  .header__menu-link:focus {
    color: #fd9222;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icon {
    stroke: black;
    fill: transparent;
    
  }
  .social-icon:hover,
  .social-icon:focus {
    stroke: #fd9222;
    transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* hero section */

  .section__hero {
    padding: 671px 40px 40px;
    margin-bottom: 40px;
  }
  .hero__title {
    width: 484px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    letter-spacing: -0.84px;
  }
  .hero__content-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

  }
  .button__hero {
    padding: 14px 40px;
    width: 149px;
    height: 45px;
  }
  .second-button__hero {
    padding: 14px 40px;
  }
  .button__hero:hover,
  .button__hero:focus {
    background-color: #FFF;
    border: 1px solid #fd9222;
    color: #111;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .second-button__hero:focus,
  .second-button__hero:hover {
    border: 1px solid #fd9222;
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .scroll-down:hover,
  .scroll-down:focus {
    color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-link {
    width: 38px;
    height: 38px;
  }
  .hero-icon {
    width: 22px;
    height: 22px;
  }
  .icon-link:hover .hero-icon,
  .icon-link:focus .hero-icon {
    fill: #fff;
    transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-link:hover,
  .icon-link:focus {
    background-color: #FD9222;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* section two */
  .section__about-us {
    padding: 50px 0;
    margin-bottom: 80px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .about-title {
    font-weight: 600;
    font-size: 18px;
  }
  .about-deskr {
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    max-width: 308px;
  }

  /* section three */
  .section__adds-taste {
    margin-bottom: 80px;
  }
  .taste-title {
    font-size: 24px;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  padding: 0 147px;
  margin-bottom: 28px;
  }
  .taste-deskr {
    padding: 0 109px;
    margin-bottom: 50px;
  }
  .ingridients__list {
    flex-direction: row;
    gap: 30px;
  }

  /* section four */

  .section__how-made {
    padding: 0 45px;
    margin-bottom: 80px;
  }
  .how-made__container {
    padding: 32px;
  }
  .how-made__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
  }
  .how-made-deskr {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    padding-right: 200px;
    margin-bottom: 28px;
  }
  .how-made__list-item {
    padding-right: 71px;
  }

  /* section five */
  .section__loved {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .loved-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }
  .glide__slides {
    gap: 10px;
  }
  .glide__slide {
    max-width: 344px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 32px;
  }
  .glide__bullets {
    top: 0;
    margin-bottom: 50px;
  }
  .button__pre-footer {
    margin-top: 0;
    padding: 14px 40px;
  }
  .button__pre-footer:hover,
  .button__pre-footer:focus {
    border: none;
    background-color: #FD9222;
    color: #FFF;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .footer__section {
    padding: 50px 0 40px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    gap: 240px;
    margin-bottom: 50px;
    position: relative;
  }
  .footer__container::after {
    position: absolute;
    content: '';
    width: 704px;
    bottom: -50px;
    
    height: 1px;
    background-color: #404040;
  }
  .footer__title {
    width: 300px;
    font-size: 28px;
    padding: 0;
    margin: 0;
    height: 68px;
  }
  
  .decoration::after{
    display: none;
  }
  .footer__address-list {
    margin-bottom: 0;
  }
  .hidden-nav {
    display: none;

  }
  .second__footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-nav {
    padding-top: 40px;
  }
  .nav-list {
    
    flex-direction: row;
    gap: 16px;
  }
  .nav__list-item:last-of-type {
    margin-right: 32px;
  }
  .nav__list-item-link:focus,
  .nav__list-item-link:hover {
    color: #fd9222;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* input footer */
  .footer-input_email {
    width: 233px;
  }
  .button-input-submit {
    width: 128px;
  }
  .button-input-submit:hover,
  .button-input-submit:focus {
    background-color: #FFF;
    border: 1px solid #fd9222;
    color: #111;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-input_email:focus {
    background: #FFF;
    color: #111;
  }

  /* modal window */

  .callback__modal-overlay {
    width: 517px;
    
    padding: 40px;
  }
  .comment {
    display: flex;
    flex-direction: column;
  }
  .callback__title {
    padding-right: 139px;
    margin-bottom: 40px;
  }
  .mobile-br {
    display: none;
  }
  .desk-br {
    display: block;
  }
  .callback__close-button {
    right: 24px;
    top: 24px;
    width: 28px;
    height: 28px;
  }
  .callback__close-icon {
    width: 28px;
    height: 28px;
  }
  .callback__form-privacy-link {
    padding: 0;
  }
  .callback__form-input {
    width: 437px;
  }
  .callback__form-textarea {
    width: 437px;
    height: 137px;
  }
  .callback__form-checkbox-label {
    font-size: 14px;
  }
  .callback__form-submit-button {
    padding: 14px 40px;
    width: 117px;
    height: 45px;
  
  }
  .callback__form-submit-button:hover,
  .callback__form-submit-button:focus {
    background-color: #FFF;
    border: 1px solid #fd9222;
    color: #111;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .header__container-desk {
    display: flex;
  }
  .header__menu {
    margin-right: 90px;
  }

/* section one */
.section__hero {
  padding: 381px 18px 40px;
}
.hero__title {
  width: 484px;
  height: 102px;
}
.be-desk-hero {
  display: block;
}

/* section two */
.section__about-us {
  margin-bottom: 100px;
}
.about-title {
  letter-spacing: 0.18px;
}

.desk-dekor {
  position: relative;
}
.desk-dekor::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 1px;
  top: 60px;
  right: 18px;
}

/* section three */

.taste-title {
  width: 411px;
  padding: 0;
}
.taste-deskr {
  padding: 0;
  margin: 0 auto;
  width: 486px;
  margin-bottom: 50px;
}

.ingridients__list {
  flex-direction: row;
  flex-wrap: nowrap;
  
  gap: 19px;
}
.ingridients__list-item {
  padding: 28px 32px;
}
.hidden-container {
  padding: 20px;
}
.section__adds-taste {
  margin-bottom: 100px;
}
.section__how-made-container {
  display: flex;
  gap: 20px;
}
.how-made-picture {
  width: 600px;
  height: 400px;
}
.section__how-made {
    padding: 0;
    margin-bottom: 100px;
    }
.how-made__container {
    width: 516px;
    height: 400px;
    }
    .how-made-deskr {
      padding-right: 102px;
    }
    .how-made__list {
      gap: 24px;
    }
    .how-made__list-item {
      padding-right: 0;
    }
    .how-made__img {
      margin-bottom: 0;
    }
    .glide__slides {
      gap: 17px;
    }
    .glide__slide {
      max-width: 360px;
    }
    .button__pre-footer {
      font-size: 18px;
      width: 222px;
      height: 52px;
    }
    .section__loved {
      padding: 0;
      margin-bottom: 100px;
    }
    .second__footer-container {
      justify-content: space-between;
    }
    .footer__container::after {
      width: 1136px;
    }
}